@import './defalut';

section.random_step {
    padding:em(50) 0; text-align:center;
    h1 { font-size:em(30); font-weight:$bold; text-align:center;  }
    > p { padding-top:em(20); color:red; font-size:em(16); text-align:center; }
    .container {
        position:relative; margin:0 auto; box-sizing:border-box; text-align:center;
        .main {
            width:em(488); display:inline-block; margin: 0 auto; padding-top: em(30); text-align:left;
            h5 { width:100%; padding-left:em(57); box-sizing:border-box; color:white; font-size:em(16); font-weight:$regular; line-height:em(54); font-family:$Mabinogi; background:url(../../public/images/common/bg_top.png) 50% 50% /cover no-repeat; @include textShadow(#838383) }
            .random_wrap {
                max-width:em(484); margin:0 auto; text-align:left; background:url(../../public/images/common/bg_content.jpg) 50% 50% /100% 100% no-repeat;
                > ul {
                    margin:0 em(8); padding-top:em(6); font-size:0; border-bottom:em(2) solid black;
                    li {
                        display:inline-block; position:relative; top:em(2); padding:0 em(9); margin-left:em(4); color:white; font-size:em(16); font-weight:$regular; line-height:em(38); font-family:$Mabinogi; background:url(../../public/images/step1/tab_disabled_bg.jpg) 50% 50% /cover no-repeat; @include textShadow(#838383);
                        &:before { content:""; width:em(9); height:em(38); position:absolute; top:0; left:0; background:url(../../public/images/step1/tab_disabled_round.jpg) 50% 50% /cover no-repeat; }
                        &:after { content:""; width:em(9); height:em(38); position:absolute; top:0; right:0; transform:rotateY(180deg); background:url(../../public/images/step1/tab_disabled_round.jpg) 50% 50% /cover no-repeat; }
                        &.active {
                            background-image:url(../../public/images/step1/tab_active_bg.jpg);
                            &:before { background-image:url(../../public/images/step1/tab_active_round.jpg); }
                            &:after { background-image:url(../../public/images/step1/tab_active_round.jpg); }
                        }
                    }
                }
                .random_tit {
                    padding:em(8) em(34) 0 em(14); color:#e3e3e3; font-size:em(12); line-height:em(15); font-family:$Mabinogi;
                    .combo_txt { width:em(351); display:inline-block; vertical-align:middle; text-align:center; }
                    .skill_txt { width:calc(100% - 17.55rem); display:inline-block; vertical-align:middle; text-align:center; }
                }
                .random_inner {
                    height:em(468); padding:em(4) 0 em(4) em(14); font-size:0;
                    .combocard_wrap {
                        width:em(351); height:100%; display:inline-block; position:relative; background:url(../../public/images/common/combocard_bg.jpg) 50% 50% /cover no-repeat;
                        .combo_each {
                            width:em(118); height:em(52); position:absolute; font-size:0;
                            .active_wrap {
                                height:100%; position:relative;
                                .combo_value {
                                    display:inline-block; vertical-align:top; position:relative; color:#ffff5c; font-size:em(16); font-family:$Mabinogi; @include textShadow(#cf290f);
                                    &:before { content:"+"; position:absolute; top:50%; left:em(13);  transform:translate(0, -50%); }
                                    &:after { content:"%"; position:absolute; top:50%; right:em(13);  transform:translate(0, -50%); }
                                    > span {
                                        width:em(20); height:em(20); display:inline-block; color:#ffff5c; padding:em(16) em(23); border:0; font-size:em(16); line-height:em(20); font-family:$Mabinogi; background-color:black; @include textShadow(#cf290f);
                                    }
                                }
                                > button {
                                    width:em(52); height:100%; display:inline-block; position:relative; background-color:#252525; border:em(1) solid black; z-index:2; cursor:pointer;
                                    &.active::before {
                                        content:""; width:em(58); height:em(58); position:absolute; top:50%; left:50%; z-index:-1; border-radius:em(5); background-color:#e1e0e0; transform:translate(-50%, -50%);
                                    }
                                    > img { width:100%; height:100%; }
                                }
                                .combo_count { min-width:em(14); position:absolute; top:75%; right:0; padding:em(4) em(5) 0; color:white; border:em(1) solid #7b7c7e; border-radius:100%; font-size:em(13); font-weight:$regular; line-height:em(18); text-align:center; font-family:$Mabinogi; background-color:black; @include textShadow(black) }
                            }
                            &:nth-of-type(1) { top:em(134); left:em(92); }
                            &:nth-of-type(2) {
                                top:em(167); right:em(20);
                                &:before { content:""; width:em(74); height:em(34); position:absolute; top:em(-12); left:em(-72); z-index:1; background:url(../../public/images/common/arrow_left.png) 50% 50%/cover no-repeat; }
                            }
                            &:nth-of-type(3) {
                                top:em(207); left:em(20);
                                &:before { content:""; width:em(74); height:em(34); position:absolute; top:em(-12); right:em(-72); z-index:1; background:url(../../public/images/common/arrow_right.png) 50% 50%/cover no-repeat; }
                            }
                            &:nth-of-type(4) {
                                top:em(240); right:em(20);
                                &:before { content:""; width:em(74); height:em(34); position:absolute; top:em(-12); left:em(-72); z-index:1; background:url(../../public/images/common/arrow_left.png) 50% 50%/cover no-repeat; }
                            }
                            &:nth-of-type(5) {
                                top:em(280); left:em(20);
                                &:before { content:""; width:em(74); height:em(34); position:absolute; top:em(-12); right:em(-72); z-index:1; background:url(../../public/images/common/arrow_right.png) 50% 50%/cover no-repeat; }
                            }
                            &:nth-of-type(6) {
                                top:em(313); right:em(20);
                                &:before { content:""; width:em(74); height:em(34); position:absolute; top:em(-12); left:em(-72); z-index:1; background:url(../../public/images/common/arrow_left.png) 50% 50%/cover no-repeat; }
                            }
                        }
                        .combo_btn_wrap {
                            width:em(264); position:absolute; bottom:em(28); left:50%; padding:em(18) 0; text-align:center; transform:translateX(-50%);
                            p { color:white; font-size:em(12); font-weight:$regular; line-height:em(28); font-family:$Mabinogi; @include textShadow(#555353); }
                        }
                    }
                    .skill_wrap {
                        height:100%; display:inline-block; padding:em(4) em(5); box-sizing:border-box; overflow-y:scroll; overflow-x:hidden; background:url(../../public/images/common/skill_bg.jpg) 50% 50% /100% 100% no-repeat;
                        &::-webkit-scrollbar { background-color:#282828; }
                        &::-webkit-scrollbar-track { background-color:#010101; }
                        &::-webkit-scrollbar-thumb { background-color:#282828; border:em(2) solid #5d5d5d; border-radius:em(2); }
                        &::-webkit-scrollbar-button { background-color:#282828; border:em(2) solid #5d5d5d; border-radius:em(2); }

                        > li {
                            width:em(58); height:em(58); position:relative; margin:em(4) auto 0; background:url(../../public/images/common/skill_line.png) 50% 50% /100% 100% no-repeat;
                            &:nth-of-type(1) { margin:0 auto; }
                            button {
                                width:em(45); height:em(45); position:absolute; top:50%; left:50%; padding:0; transform:translate(-50%, -50%); border-radius:em(3); border:em(2.5) solid white; box-sizing:border-box; cursor:pointer; background-image: linear-gradient(180deg, #4c6475 30%, #94aeb6);
                                img { width:100%; height:100%; }
                            }
                        }
                    }
                }
                .btn_wrap {
                    padding-bottom:em(20); text-align:center;
                    a, button { display:inline-block; margin:0 em(2); padding:0 em(30); color:white; border:0; font-size:em(14); font-weight:$regular; line-height:em(38); text-decoration:none; font-family:$Mabinogi; cursor:pointer; background:url(../../public/images/common/btn_bg.png) 50% 50% /100% 100% no-repeat; @include textShadow(black); }
                }
            }
        }
        .description {
            width:em(488); height:em(672); display:inline-block; margin:em(30) 0 0 em(10); border-radius:em(3); text-align:left; vertical-align:top; background-color:#eee;
            .description_tit {
                margin:0 em(15); padding:em(15) 0; font-size:0; border-bottom:em(1) solid #d5d5d5;
                h5 {
                    width:calc(100% - 7.05rem); display:inline-block; color:black; font-size:em(16); font-weight:$bold;
                    > span { padding:0 em(8) em(1); border-radius:100%; color:#eee; font-weight:$regular; background-color:#adadad; }
                }
                button {
                    display:inline-block; padding:em(8) em(15); color:white; cursor:pointer; border-radius:em(5); font-size:em(14); background-color:#8d8d8d; transition:all .3s;
                    &:hover { background-color:#2c2c2c; }
                }
            }
            > .tab_cont {
                height:86%; margin:em(15) em(15) 0; color:black; overflow-y:auto;
                &::-webkit-scrollbar { background-color:#d9d9d9; }
                &::-webkit-scrollbar-track { background-color:#d9d9d9; }
                &::-webkit-scrollbar-thumb { background-color:#939393; border:em(2) solid #ababab; border-radius:em(2); }
                &::-webkit-scrollbar-button { background-color:#939393; border:em(2) solid #ababab; border-radius:em(2); }
                li {
                    margin-right:em(10); font-size:em(14); line-height:em(22);
                    table {
                        border:em(1) solid #9d9d9d; border-collapse:collapse;
                        caption { width:0; height:0; font-size:0; }
                        th {
                            height:em(30); vertical-align:middle; padding:0 em(10); border-bottom:em(1) solid #9d9d9d; border-right:em(1) solid #9d9d9d; font-weight:$bold; text-align:center; background-color:#e1e1e1;
                            &:last-of-type(1) { border-right:none; }
                        }
                        td {
                            padding:0 em(10); border-bottom:em(1) solid #9d9d9d; border-right:em(1) solid #9d9d9d; text-align:center; vertical-align:middle;
                            &:last-of-type(1) { border-right:none; }
                        }
                    }
                    > u { text-decoration:underline; }
                    > button.strong_btn {
                        position:relative; margin-top:em(30); color:black; cursor:pointer; overflow:hidden; font-size:em(16); font-weight:$bold; transition:all .3s;
                        &::after { content:""; width:100%; height:em(1); position:absolute; bottom:0; left:-100%; background-color:black; transition:all .3s; }
                        &:hover {
                            color:#0006ff;
                            &::after { left:0; background-color:#0006ff; }
                        }
                    }
                    .caption_txt { padding-top:em(5); color:#7f7f7f; font-size:em(13); line-height:em(18); text-align:center;  }
                    .half_box {
                        display:flex; justify-content:center; padding-top:em(10);
                        img { height:em(250); margin-left:em(15); }
                    }
                    .coin_box {
                        > .coin_txt {
                            margin:em(10) 0 0; padding:em(15) 0; box-sizing:border-box; border-radius:em(3); font-size:em(14); line-height:em(22); text-align:center; background-color:#c3c2c2;
                            > p {
                                width:18%; display:inline-block; text-align:left;
                                span { display:inline-block; padding:em(3) em(6) em(4) em(6); color:white; border-radius:100%; font-size:em(12); line-height:em(12); background-color:#373737; }
                            }
                            > span { display:block; padding-top:em(15); text-align:center; }
                        }
                        > span { display:block; padding:em(10) 0 em(15); }
                        > .coin_center_txt {
                            padding-top:em(15); border-top:em(1) solid #d5d5d5; text-align:center;
                            span { font-weight:$bold; }
                        }
                        table { margin:em(10) auto 0; }
                    }
                }
            }
        }
    }
}