@import './defalut';

html, body { overflow-x:hidden; }

section.input_step {
    position:relative; padding:em(50) 0;
    h1 { font-size:em(30); font-weight:$bold; text-align:center; }
    > p { padding-top:em(20); color:red; font-size:em(16); text-align:center; }
    .container {
        position:relative; margin:0 auto; box-sizing:border-box; text-align:center;
        .main {
            width:em(488); display:inline-block; padding-top:em(30); text-align:left;
            h5 { width:100%; padding-left:em(57); box-sizing:border-box; color:white; font-size:em(16); font-weight:$regular; line-height:em(54); font-family:$Mabinogi; background:url(../../public/images/common/bg_top.png) 50% 50% /cover no-repeat; @include textShadow(#838383) }
            .input_wrap {
                max-width:em(484); margin:0 auto; background:url(../../public/images/common/bg_content.jpg) 50% 50% /100% 100% no-repeat;
                > ul {
                    margin:0 em(8); padding-top:em(6); font-size:0; border-bottom:em(2) solid black;
                    li {
                        display:inline-block; position:relative; top:em(2); padding:0 em(9); margin-left:em(4); color:white; font-size:em(16); font-weight:$regular; line-height:em(38); font-family:$Mabinogi; background:url(../../public/images/step1/tab_disabled_bg.jpg) 50% 50% /cover no-repeat; @include textShadow(#838383);
                        &:before { content:""; width:em(9); height:em(38); position:absolute; top:0; left:0; background:url(../../public/images/step1/tab_disabled_round.jpg) 50% 50% /cover no-repeat; }
                        &:after { content:""; width:em(9); height:em(38); position:absolute; top:0; right:0; transform:rotateY(180deg); background:url(../../public/images/step1/tab_disabled_round.jpg) 50% 50% /cover no-repeat; }
                        &.active {
                            background-image:url(../../public/images/step1/tab_active_bg.jpg);
                            &:before {  background-image:url(../../public/images/step1/tab_active_round.jpg); }
                            &:after {  background-image:url(../../public/images/step1/tab_active_round.jpg); }
                        }
                    }
                }
                .input_tit {
                    padding:em(8) em(34) 0 em(14); color:#e3e3e3; font-size:em(12); line-height:em(15); font-family:$Mabinogi;
                    .combo_txt { width:em(351); display:inline-block; vertical-align:middle; text-align:center; }
                    .skill_txt { width:calc(100% - 17.55rem); display:inline-block; vertical-align:middle; text-align:center; }
                }
                .input_inner {
                    height:em(468); padding:em(4) 0 em(4) em(14); font-size:0;
                    .combocard_wrap {
                        width:em(351); height:100%; display:inline-block; position:relative; background:url(../../public/images/common/combocard_bg.jpg) 50% 50% /cover no-repeat;
                        .combo_each {
                            width:em(118); height:em(52); position:absolute; font-size:0;
                            .disabled_wrap {
                                position:absolute; top:50%; left:50%; padding:0 em(16); color:white; border:0; font-size:em(14); font-weight:$regular; line-height:em(30); font-family:$Mabinogi; cursor:pointer; background:url(../../public/images/common/btn_bg.png) 50% 50% /100% 100% no-repeat; @include textShadow(black); transform:translate(-50%, -50%);
                                &.hidden { opacity:0; visibility:hidden; }
                            }
                            .active_wrap {
                                height:100%;
                                .combo_input {
                                    display:inline-block; vertical-align:top; position:relative; color:#ffff5c; font-size:em(16); font-family:$Mabinogi; @include textShadow(#cf290f);
                                    &:before { content:"+"; position:absolute; top:50%; left:em(13);  transform:translate(0, -50%); }
                                    &:after { content:"%"; position:absolute; top:50%; right:em(13);  transform:translate(0, -50%); }
                                    > input {
                                        width:em(20); height:em(20); color:#ffff5c; padding:em(16) em(23); border:0; font-size:em(16); font-family:$Mabinogi; background-color:black; @include textShadow(#cf290f);
                                    }
                                }
                                > button {
                                    width:em(52); height:100%; display:inline-block; position:relative; background-color:#252525; border:em(1) solid black; z-index:2; cursor:pointer;
                                    &.active::before {
                                        content:""; width:em(58); height:em(58); position:absolute; top:50%; left:50%; z-index:-1; border-radius:em(5); background-color:#e1e0e0; transform:translate(-50%, -50%);
                                    }
                                    > img { width:100%; height:100%; }
                                }
                            }
                            &:nth-of-type(1) {
                                top:em(134); left:em(92);
                                .disabled_wrap { left:em(-13); }
                            }
                            &:nth-of-type(2) {
                                top:em(167); right:em(20);
                                &:before { content:""; width:em(74); height:em(34); position:absolute; top:em(-12); left:em(-72); z-index:1; background:url(../../public/images/common/arrow_left.png) 50% 50%/cover no-repeat; }
                            }
                            &:nth-of-type(3) {
                                top:em(207); left:em(20);
                                &:before { content:""; width:em(74); height:em(34); position:absolute; top:em(-12); right:em(-72); z-index:1; background:url(../../public/images/common/arrow_right.png) 50% 50%/cover no-repeat; }
                            }
                            &:nth-of-type(4) {
                                top:em(240); right:em(20);
                                &:before { content:""; width:em(74); height:em(34); position:absolute; top:em(-12); left:em(-72); z-index:1; background:url(../../public/images/common/arrow_left.png) 50% 50%/cover no-repeat; }
                            }
                            &:nth-of-type(5) {
                                top:em(280); left:em(20);
                                &:before { content:""; width:em(74); height:em(34); position:absolute; top:em(-12); right:em(-72); z-index:1; background:url(../../public/images/common/arrow_right.png) 50% 50%/cover no-repeat; }
                            }
                            &:nth-of-type(6) {
                                top:em(313); right:em(20);
                                &:before { content:""; width:em(74); height:em(34); position:absolute; top:em(-12); left:em(-72); z-index:1; background:url(../../public/images/common/arrow_left.png) 50% 50%/cover no-repeat; }
                            }
                        }
                        .combo_btn_wrap {
                            width:em(264); position:absolute; bottom:em(28); left:50%; padding:em(18) 0; text-align:center; transform:translateX(-50%);
                            button {
                                margin:0 em(2); padding:0 em(25); color:white; border:0; font-size:em(12); font-weight:$regular; line-height:em(28); font-family:$Mabinogi; opacity:0; visibility:hidden; cursor:pointer; background:url(../../public/images/common/btn_bg.png) 50% 50% /100% 100% no-repeat; @include textShadow(black);
                                &.active { opacity:1; visibility:inherit; }
                            }
                        }
                    }
                    .skill_wrap {
                        height:100%; display:inline-block; padding:em(4) em(5); box-sizing:border-box; overflow-y:scroll; overflow-x:hidden; background:url(../../public/images/common/skill_bg.jpg) 50% 50% /100% 100% no-repeat;
                        &::-webkit-scrollbar { background-color:#282828; }
                        &::-webkit-scrollbar-track { background-color:#010101; }
                        &::-webkit-scrollbar-thumb { background-color:#282828; border:em(2) solid #5d5d5d; border-radius:em(2); }
                        &::-webkit-scrollbar-button { background-color:#282828; border:em(2) solid #5d5d5d; border-radius:em(2); }

                        > li {
                            width:em(58); height:em(58); position:relative; margin:em(4) auto 0; background:url(../../public/images/common/skill_line.png) 50% 50% /100% 100% no-repeat;
                            &:nth-of-type(1) { margin:0 auto; }
                            button {
                                width:em(45); height:em(45); position:absolute; top:50%; left:50%; padding:0; transform:translate(-50%, -50%); border-radius:em(3); border:em(2.5) solid white; box-sizing:border-box; cursor:pointer; background-image: linear-gradient(180deg, #4c6475 30%, #94aeb6);
                                img { width:100%; height:100%; }
                            }
                        }
                    }
                }
                .btn_wrap {
                    padding-bottom:em(20); text-align:center;
                    a, button { display:inline-block; margin:0 em(2); padding:0 em(30); color:white; border:0; font-size:em(14); font-weight:$regular; line-height:em(38); text-decoration:none; font-family:$Mabinogi; cursor:pointer; background:url(../../public/images/common/btn_bg.png) 50% 50% /100% 100% no-repeat; @include textShadow(black); }
                }
            }
        }
        .description {
            width:em(488); height:em(672); display:inline-block; margin:em(30) 0 0 em(10); border-radius:em(3); text-align:left; vertical-align:top; background-color:#eee;
            h5 {
                margin:0 em(15); padding:em(18) 0; color:black; border-bottom:em(1) solid #d5d5d5; font-weight:$bold;
                > span { padding:0 em(8) em(1); border-radius:100%; color:#eee; font-weight:$regular; background-color:#adadad; }
            }
            > .tab_cont {
                height:86%; margin:em(15) em(15) 0; color:black; overflow-y:auto;
                &::-webkit-scrollbar { background-color:#d9d9d9; }
                &::-webkit-scrollbar-track { background-color:#d9d9d9; }
                &::-webkit-scrollbar-thumb { background-color:#939393; border:em(2) solid #ababab; border-radius:em(2); }
                &::-webkit-scrollbar-button { background-color:#939393; border:em(2) solid #ababab; border-radius:em(2); }
                li {
                    margin-right:em(10); font-size:em(14); line-height:em(22);
                    u { text-decoration:underline; }
                    b { font-weight:$bold; }
                    img { width:100%; margin-top:em(20); }
                    .btn_txt { display:inline-block; margin-top:em(3); padding:0 em(8); color:white; font-size:em(12); border-radius:em(3);  background-color:#2c2c2c; }
                    .impact_txt { color:red; }
                    > button.strong_btn {
                        position:relative; margin-top:em(30); color:black; cursor:pointer; overflow:hidden; font-size:em(16); font-weight:$bold; transition:all .3s;
                        &::after { content:""; width:100%; height:em(1); position:absolute; bottom:0; left:-100%; background-color:black; transition:all .3s; }
                        &:hover {
                            color:#0006ff;
                            &::after { left:0; background-color:#0006ff; }
                        }
                    }
                    .text_description {
                        margin:em(10) 0; padding:em(10); border-radius:em(3); background-color:#c3c2c2;
                        > span.indentation_txt { display:block; padding-left:em(15); }
                    }
                    .number_box {
                        display:flex; flex-direction:row; flex-wrap:nowrap; align-items:flex-start; padding-top:em(5); text-align:left;
                        &:nth-of-type(1) { padding-top:em(10); }
                        strong { padding:0 em(8) em(3) em(8); color:#801a09; border-radius:100%; font-weight:$bold; background-color:#ffeb43; }
                        p { padding-left:em(5); }
                    }
                    .progress_box { padding-top:em(10); }
                }
            }
        }
    }
}