footer { padding:50px 30px; background-color:#eee; }
footer .table_wrap { display:flex; }
footer .table_wrap table { border:1px solid #9d9d9d; }
footer .table_wrap th { height:30px; padding:0 10px; border-bottom:1px solid #9d9d9d; background-color:#e1e1e1; }
footer .table_wrap td { border-bottom:1px solid #9d9d9d; text-align:center; }